body {
  background-color: #c7ffff;
  color: white;
}

.login {
  cursor: pointer;
}

.login:hover {
  color:#2ed13e;
}

.forgot-password {
  cursor: pointer;
}

.forgot-password:hover {
  color: #dc4848;
}

.small-text {
  font-size: 12px;
}